/* TRANSFORM */
/* Transform Property */
/*.a{
  width: 150px;
  height: 80px;
  background: yellow;
  transform: rotate(20deg);
}

.b{
  width: 150px;
  height: 80px;
  background: yellow;
  transform: skewY(20deg);
}

.c{
  width: 150px;
  height: 80px;
  background: yellow;
  transform: scaleY(1.5);
}*/

/* Transform oragin */
/*#div1{
  position: relative;
  height: 200px;
  width: 200px;
  margin: 100px;
  padding: 10px;
  border: 1px solid black;
}
#div2{
  position: absolute;
  padding: 50px;
  border: 1px solid black;
  background: red;
  transform: rotate(60deg);
  transform-style: preserve-3d;
}

#div3{
  position: absolute;
  padding: 40px;
  border: 1px solid black;
  background: yellow;
  transform: rotate(-60deg);
  }*/

/* Transition In CSS */
/*div{
  width: 100px;
  height: 100px;
  background: red;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

div:hover{
  width: 300px;
}*/

/*div{
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}
div:hover{
  width: 300px;
}*/

/* Animation */
/*div{
  width: 100px;
  height: 100px;
  background: red;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example{
  from{
    background: yellow;
  }
  to{
    background: orange;
  }
}*/